name: Render Drawio

on:
  push:
    branches:
      - master
    paths:
      - "**.drawio"
      - .github/workflows/render-drawio.yml

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
      with:
        fetch-depth: 0
        token: ${{ secrets.GITHUB_TOKEN }}

    - name: replace timestamp in drawio files
      run: |
        timestamp=$(date +%Y%m%d.%H%M)
        substitude="Version [0-9]*\.[0-9]*"
        sed -i "s/${substitude}/Version ${timestamp}/g" docs/hbr.drawio

    - uses: rlespinasse/drawio-export-action@v2
      with:
        format: png
        path: ./docs
        output: ../images
        remove-page-suffix: true
    
    - name: Get author and committer info from HEAD commit
      uses: rlespinasse/git-commit-data-action@v1
      if: github.ref == 'refs/heads/master'

    - name: Commit changed files
      uses: stefanzweifel/git-auto-commit-action@v4
      with:
        commit_message: "docs: sync draw.io exported files"
      if: github.ref == 'refs/heads/master'